@{
    ViewBag.Title = "Index";
}
<link href="~/Content/site.css" rel="stylesheet" />
<p>
    <!--Roger 數位書店-->
    <img src="~/Content/Images/book.png" alt="book icon" height="50" width="50" />
</p>
<h2>Index</h2>
